@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Almarai', sans-serif;
}

.sideBarLink {
width: 100%;
height: 3rem;
display: flex;
align-items: center;
border-radius: 0.375rem;
}

.sideBarActiveLink {
  background-image: linear-gradient(to left, var(--tw-gradient-stops));
  color: #FFF;
  font-weight: 700;
  --tw-gradient-from: #7367f0;
  --tw-gradient-to: rgb(115 103 240 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #7267f0b2;
  --tw-shadow-color: #7267f0b2;
  --tw-shadow: var(--tw-shadow-colored);
  }
